<div class="clearfix">
    <form ng-submit="chirpController.post()" ng-show="authenticated">
        <h4>{{current_user}} says </h4>
        <textarea class="form-control" required maxlength="200" rows="3" placeholder="Say something..." ng-model="chirpController.newPost.text"></textarea>
        <input class="btn .submit-btn btn-primary" type="submit" value="Chirp!"/>
    </form>
    <div id="post-stream">
        <h4>Chirp Feed</h4>
        <!-- to be populated by Angular -->
        <div class="post" ng-repeat="post in chirpController.posts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
            <p>{{post.text}}</p>
            <small>Posted by @{{post.created_by}}</small>
            <small class="pull-right">{{post.created_at | date:"h:mma 'on' MMM d,y "}}</small>
        </div>
    </div>
</div>